/**
 * Stylesheet - Main
 * Author - Andrew Mass
 * 9/5/2013
 */

body {
  position: relative;
  font-family: @headings-font-family;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: @grayDark;
}

.row {
  text-align: center;
}

.wrapper {
  margin-bottom: 30px;
}

.container {
  max-width: 95%;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: @sans-font-family;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  color: @grayDark;
  margin-top: 10px;
}

h2 {
  font-size: 40px;
  color: @grayDark;
}

a h1, a h2 {
  .transition(@transition-time all);
  color: @grayDark;
  font-size: 40px;

  &:hover {
    color: @accent;
  }
}

i {
  line-height: 1;
}

a i {
  .transition(@transition-time all);
  color: @grayDark;

  &:hover {
    color: @accent;
  }
}

legend {
  text-align: left;
  padding-left: 15px;
}

.border-right {
  border-right: none;
}

.border-left {
  border-left: none;
}

#header-name {
  font-size: 50px;
}

.section-header {
  color: @grayDark;
  margin-top: 20px;
  height: 75px;

  .header-wrapper {
    position: absolute;
    text-align: center;
    background-color: #FFF;
    font-size: 38px;
    margin-left: 50px;
    padding: 0 20px;
  }

  .section-header-inner {
    background-color: @accent;
    width: 100%;
    height: 25px;
    margin: 25px 0;
    display: inline-block;
  }
} // .section-header

.start {
  min-height: 100%;

  .wrapper {
    //min-height: 500px;
    height: 100%;
    font-size: 0;
    text-align: center;
    margin-bottom: 0;

    .centered {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 30px;

      .panel {
        .transition(@transition-time color);
        .transition(@transition-time border-color);
        cursor: pointer;
        font-size: 18px;
        color: @grayDark;

        i {
          font-size: 100px;
        }

        .panel-footer {
          .transition(@transition-time all);
        }

        &:hover {
          border-color: @accent;

          i {
            color: @accent;
          }

          .panel-footer {
            color: @accent;
          }
        }
      } // .panel
    } // .centered

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  } // .wrapper
} // .start

.content {
  display: none;

  #row-content {
    margin-right: 0;

    .side-nav {
      text-align: left;
      background-color: @grayDark;
      padding-right: 0;

      .side-nav-image {
        .transition(@transition-time all);
        cursor: pointer;
        text-align: center;

        img {
          .transition(@transition-time all);
          margin: 15px 0;
          width: 100%;
          max-width: 200px;
          border:2px solid @grayDark;
          border-radius: 20px;

          &:hover {
            border: 2px solid @accent;
          }
        }
      } // .side-nav-image

      #email-link {
        text-align: center;
        border-top: 1px solid @accent;
        padding: 10px 0;
        font-size: 40px;

        a {
          .transition(@transition-time all);
          color: @grayLight;

          &:hover {
            color: @accent;
          }
        }
      }

      .social-icon-list {
        list-style: none;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        border-top: 1px solid @accent;
        border-bottom: 1px solid @accent;

        .social-icon {
          display: inline;

          a {

            i {
              color: @grayLight;
              font-size: 60px;
              padding: 0 5px;
            }

            &:hover {

              i {
                color: @accent;
              }
            }
          }
        } // .social-icon
      } // .social-icon-list

      .list-group {
        text-align: center;

          a {
            color: @grayLight;

            .list-group-item {
              .transition(@transition-time all);
              background-color: @grayDark;
              border: 0;
              border-bottom: 1px solid @accent;
              font-size: 50px;
              cursor: pointer;
              border-radius: 0;

              &:hover {
                color: @accent;
              }
            } // .list-group-item
        } // a
      } // .list-group
    } // .side-nav
  } // #row-content
} // .content

#about-me {

  i {
    font-size: 150px;
  }
}

#development {

  .carousel {

    .carousel-control {
      background-image: none;

      span {
        background-color: @grayDark;
        height: 50px;
        line-height: 40px;
        font-size: 50px;
      }
    }

    .carousel-caption {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 5px;
      background: @grayDark;
      font-size: 20px;
      line-height: 20px;
    }

    img {
      margin-bottom: 35px;
      display: inline-block;
    }
  } // .carousel

  i {
    font-size: 150px;
  }

  .panel {
    text-align: left;

    legend {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding-left: 25px;
    }
  } // .panel
} // #development

#physics {
  .panel {
    text-align: left;

    legend {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding-left: 25px;
    }
  }
} // #physics

#more {

  i {
    font-size: 150px;
  }
} // #more

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @grayDark;
  color: @grayLight;
  z-index: 10;
  text-align: right;

  small {
    margin: 0 10px;
    font-family: @headings-font-family;
    font-size: 10px;
  }
} // #footer

@media only screen and (min-width: @screen-xs) {
  #header-name {
    font-size: 80px;
  }

  .start .wrapper .centered .panel {
    font-size: 25px;

    i {
      font-size: 180px;
    }
  }

  .border-right {
    border-right: 1px solid @borderColor !important;
  }

  .border-left {
    border-left: 1px solid @borderColor !important;
  }
}

@media only screen and (min-width: @screen-sm) {
  #header-name {
    font-size: 100px;
  }

  .start .wrapper .centered .panel {
    font-size: 30px;
  }

  .border-right {
    border-right: 1px solid @borderColor !important;
  }

  .border-left {
    border-left: 1px solid @borderColor !important;
  }
}

@media only screen and (min-width: @screen-md) {
  #header-name {
    font-size: 120px;
  }

  .start .wrapper .centered .panel {
    font-size: 28px;
    min-width: 180px;

    i {
      font-size: 150px;
    }
  }

  #email-link {
    font-size: 16px !important;
  }

  .list-group {
    text-align: left !important;

    .list-group-item {
      font-size: 18px !important;
    }
  }

  .social-icon a i {
    font-size: 26px !important;
  }
}

@media only screen and (min-width: @screen-lg) {
  #header-name {
    font-size: 150px;
  }

  .start .wrapper .centered .panel {
    font-size: 32px;
    min-width: 200px;

    i {
      font-size: 180px;
    }
  }

  .panel {
    font-size: 25px;

    i {
      font-size: 150px;
    }
  }

  #email-link {
    font-size: 18px !important;
  }

  .list-group .list-group-item {
    font-size: 24px !important;
  }

  .social-icon a i {
    font-size: 36px !important;
  }
}

@media only screen and (min-width: 1600px) {
  #header-name {
    font-size: 180px;
  }

  .start .wrapper .centered .panel {
    font-size: 40px;
    min-width: 250px;

    i {
      font-size: 220px;
    }
  }

  #email-link {
    font-size: 24px !important;
  }

  .list-group .list-group-item {
    font-size: 32px !important;
  }

  .social-icon a i {
    font-size: 50px !important;
  }

  .side-nav-image img {
    max-width: 250px !important;
  }
}
