/* MassterSite LESS Styles */

/* Author: Andrew Mass */
 @min-slide-height: 600px;
 html {
    height:100%;
    body {
        height:100%;
        .container-fluid {
            position:absolute;
            top:80px;
            left:5%;
            right:5%;
            height: @min-slide-height;
            padding:0;
            .pane {
                position:absolute;
                top:0;
                bottom: 0;
                //margin: auto 0;
                right:0;
                left:0;
                background-color: #282828;
                /* fallback color, place your own */
                //background-image: -moz-linear-gradient(top, #323232, #101010);
                //background-image: -ms-linear-gradient(top, #323232, #101010);
                //background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#101010));
                //background-image: -webkit-linear-gradient(top, #323232, #101010);
                //background-image: -o-linear-gradient(top, #323232, #101010);
                //background-image: linear-gradient(top, #323232, #101010);
                //background-repeat: repeat-x;
                //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232', endColorstr='#101010', GradientType=0);
                .row-fluid {
                    width:auto;
                }
                .content-wrap {
                    height:100%;
                    padding:25px;
                }
                h1 {
                    text-align:center;
                    color:#DDD;
                }
                h3 {
                    text-align:center;
                    color:#FFF;
                }
            }
        }
        /* Nav Bar */
        .navbar {
            position: fixed;
            left:2.5%;
            right:2.5%;
            padding-top: 25px;
            z-index: 1;
            .navbar-inner {
                border: 1px solid #ffffff;
                background-color: #101010;
                background-image: -moz-linear-gradient(top, #323232, #101010);
                background-image: -ms-linear-gradient(top, #323232, #101010);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#323232), to(#101010));
                background-image: -webkit-linear-gradient(top, #323232, #101010);
                background-image: -o-linear-gradient(top, #323232, #101010);
                background-image: linear-gradient(top, #323232, #101010);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232', endColorstr='#101010', GradientType=0);
                .nav {
                    height: 100%;
                    li>a {
                        &:hover {
                            color: #F00;
                            border-bottom: 1px solid #F00;
                            margin-bottom: -1px;
                        }
                        text-decoration: none;
                        color: #FFF;
                        font-size: 16px;
                        text-shadow: none;
                        padding: 10px 20px 10px 20px;
                    }
                    .vertical-divider {
                        background-color:#FFF;
                        min-width:1px;
                        height:30px;
                        margin-top: 5px;
                    }
                    .pull-right {
                        li>a {
                            &:hover {
                                border-bottom: none;
                            }
                            width:40px;
                            height:40px;
                            padding: 0;
                        }
                    }
                }
                .brand {
                    margin-left: -15px;
                    text-decoration: none;
                    font-size: 22px;
                    color: #FFF;
                    text-shadow: none;
                }
            }
        }
        /* Slides */
        .slideContainer {
            position: absolute;
            height:100%;
            width:100%;
            .slide {
                min-height: @min-slide-height + 100px;
                position: relative;
                height: 100%;
                z-index: -1;
                display: -webkit-box;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-orient: vertical;
                -webkit-box-pack: center;
                -webkit-box-align: center;
            }
        }
        .bx-wrapper .bx-viewport {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            background: none;
        }
        /*CS-Page Specific Styles */
        .slide.computerscience {
            #gigastorm-logo {
                &:hover {
                    background-color: #323232;
                }
            }
            .skills-matrix {
                color:#FFF;
                text-align: center;
                span.small {
                    font-size: 15px;
                }
                span.med {
                    font-size: 20px;
                }
                span.large {
                    font-size: 25px;
                }
            }
            .bx-caption {
                color:#DDD;
                text-align: center;
            }
        }
    }
}