body {
  position: relative;

  .start {
    min-height: 100%;

    .wrapper {
      min-height: 500px;
      height: 100%;
      font-size: 0;
      text-align: center;

      .centered {
        max-width: 900px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 30px;

        #header-name {
          .transition(.5s all);
          text-align: center;
          font-size: 100pt;
        }

        .panel {
          font-size: 15pt;

          img {
            width: 100%;
          }

          .panel-footer {
            text-align: center;
          }

          &:hover {
            border-color: #F00;
          }
        }
      }
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @grayDark;
  color: @grayLight;
  z-index: 10;
  p {
    margin: 0;
    padding: 5px 0;
  }
}

@media only screen and (max-width: 1217px) {
   .start .container.wrapper .centered #header-name {
    font-size: 80pt;
   }
}

@media only screen and (max-width: 1009px) {
   .start .container.wrapper .centered #header-name {
    font-size: 60pt;
   }
}

@media only screen and (max-width: 660px) {
   .start .container.wrapper .centered #header-name {
    font-size: 40pt;
   }
}

@media only screen and (max-width: 440px) {

   .start .container.wrapper .centered #header-name {
    font-size: 20pt;
   }
}
